@use "styles/theme" as *;

.root {}

.multiSelect {

    input {
        // font-size: .85rem;
        padding: 1px .375rem;
        border-radius: 0px;
    }

    button {
        // font-size: .6rem;
    }

}

.community {
    table {
        width: 100%;
    }
}

.diff {
    // outline-offset: 1px;
    // outline: 1px solid $color_centraBlue;
    // background-color: $color_background_edited;
    border-color: $color_background_edited;
    outline-offset: 1px;
    outline: 1px solid #F0F0F0;

    :global(.rbt-input-main) {
        // background-color: $color_background_edited;
        border-color: $color_background_edited;
        outline-offset: 1px;
        outline: 1px solid #F0F0F0;
    }

    &:global(.form-check-input) {
        outline-offset: 1px;
        outline: 1px solid $color_background_edited;
        // border-color: $color_background_edited;
    }
}

.error {
    // outline-offset: 1px;
    // outline: 1px solid $color_centraBlue;
    background-color: $color_background_error;

    :global(.rbt-input-main) {
        background-color: $color_background_error;
    }

    &:global(.form-check-input) {
        outline-offset: 1px;
        outline: 1px solid $color_background_error;
        // border-color: $color_background_edited;
    }
}


