@use "styles/theme" as *;

.root {
    overflow: auto;
    height: 100%;
}

.statesContainerEditable {
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.statesContainer {
    border-radius: 4px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 28px;
}

.gridsOfMainInfo {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: 5px;

    // .grid-1 {
    //     grid-column: 1;

    // }

    // .grid-2 {
    //     grid-column: 1;
    // }
}


.gridsOfBelowInfo {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);

    .mainItem-1 {
        grid-column: 1;
    }

    .mainItem-2 {
        grid-column: 2;
    }

    .mainItem-3 {
        grid-column: 3;
    }

    .mainItem-4 {
        grid-column: 4;
    }
}

.mainItem,
.toggleContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.sectionTitle {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    height: 35px;
    background-color: $color_background;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.subTitle {
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px 10px 2px 10px;
    border-top: 5px solid $color_background;
}

.toggleFullClose {
    cursor: pointer;
}

.toggleTitle {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    height: 35px;
    background-color: $color_background_grayYellow;
    border-bottom: 1px solid $color_gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.columnInputsContainer {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5px;
    label {
        text-align: left;
    }
}

.columnOptionsContainer {
    padding: 10px;
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 5px;

    label {
        text-align: left;
        cursor: pointer;
    }
}

.columnSummaryContainer {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

    label {
        text-align: left;
    }

    .valueContainer {
        text-align: right;
    }
}

.anchors {
    display: flex;
    gap: 10px;

    span {
        cursor: pointer;
        padding: 5px;
        color: $color_centraBlue;

        &:hover {
            color: $color_centraBlue_hover;
            text-decoration: underline;
        }
    }
}

.toggleZone {
    min-height: 100px;
}