@use "styles/theme" as *;


.workorderActionsContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    font-size: 1rem;
    max-height: 420px;
    overflow-y: auto;

    // align-items: flex-start;
    :global(.ant-btn-icon) {
        width: 20px;
    }
}

.workorderActionsContainer button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    min-height: 32px;
}


.orderNumber {
    span {
        cursor: pointer;
        color: $color_centraBlack;
        font-weight: 600;
        text-decoration: underline;

        &:hover {
            color: $color_centraBlue_hover;
        }
    }

    i.copiedIcon {
        display: none;
    }

    &:hover {
        i.copiedIcon {
            display: inline-block;
        }
    }
}


i.notCopiedIcon,
i.copiedIcon {
    display: inline-block;
    color: $color_gray_dark;
    cursor: pointer;

    &:hover {
        color: $color_centraBlue_hover;
    }
}

.tableStatusBlock {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .tableStatusColor {
        position: absolute;
        padding: 3px;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
    }
}