@use "styles/theme" as *;

.thead {
    top: 85px;
}

.subTitle {
    background-color: $color_white;
    top: 35px;
    position: sticky;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.itemTabs {
    display: flex;
    align-items: center;

    .labelCode:not(.zero) {
        &:hover {
            color: $color_background_edited;
            text-decoration: underline;
        }
    }

    .labelCode:not(:last-child)::after {
        content: '|';
        margin-left: 6px;
        margin-right: 6px;
        font-size: small;
    }

    .labelCode.zero {
        color: $color_border_table
    }
}