@use "styles/theme" as *;

.root {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	border-top: 1px solid $color_gray;
	display: flex;
	align-items: center;
	justify-content: center;
	.title {
		margin-top: -0.9rem;
		background-color: $color_white;
		display: block;
		padding: 0px 1rem;
		color: $color_gray_dark;
	}
}