@use "styles/theme" as *;

.thead {
    top: 49px;
}

.subTitle {
    background-color: $color_white;
    top: -1px;
    position: sticky;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.itemTabs {
    display: flex;
    align-items: center;
    span:not(:last-child)::after {
        content: '|';
        margin-left: 6px;
        margin-right: 6px;
        font-size: small;
    }

    span.zero{
        color: $color_border_table
    }
}