@use "styles/theme" as *;

.notesContainer {
    padding: 10px;
    gap: 5px;
}

.collapsedContainer {
    padding: 10px;
}

.title {
    background-color: $color_background_lightBlue;
}

.notesHeader {
    color: $color_centraBlue;
    margin-bottom: 5px;
}

