@use "styles/theme" as *;

.root {
    overflow: auto;
    height: 100%;
}

.orderTable {
    .orderNumber {
        span {
            cursor: pointer;
            color: $color_centraBlue;
            text-decoration: underline;

            &:hover {
                color: $color_centraBlue_hover;
            }
        }

        i {
            display: none;
        }

        &:hover {
            i {

                display: inline-block;
            }

        }
    }

    i {
        color: $color_gray_dark;
        cursor: pointer;
        &:hover {
            color: $color_centraBlue_hover;
        }
    }

    i.copiedIcon {
        display: inline-block;
    }
}