@use "styles/theme" as *;


.workorderActionsContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    // align-items: flex-start;
}

.workorderActionsContainer button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
}

.table {
    overflow: auto;
    height: 100%;
    border-radius: 4px;
    .orderNumber {
        span {
            cursor: pointer;
            color: $color_centraBlue;
            text-decoration: underline;

            &:hover {
                color: $color_centraBlue_hover;
            }
        }

        i.copiedIcon {
            display: none;
        }

        &:hover {
            i.copiedIcon {
                display: inline-block;
            }
        }
    }

    i {}

    i.notCopiedIcon,
    i.copiedIcon {
        display: inline-block;
        color: $color_gray_dark;
        cursor: pointer;

        &:hover {
            color: $color_centraBlue_hover;
        }
    }
}