@use "styles/theme" as *;


.workorderActionsContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    font-size: 1rem;
    // align-items: flex-start;
}

.workorderActionsContainer button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    font-size: 1rem;
}

.table {
    overflow: auto;
    height: 100%;
    border-radius: 4px;
    .orderNumber {
        span {
            cursor: pointer;
            color: $color_centraBlack;
            font-weight: 600;
            text-decoration: underline;

            &:hover {
                color: $color_centraBlue_hover;
            }
        }

        i.copiedIcon {
            display: none;
        }

        &:hover {
            i.copiedIcon {
                display: inline-block;
            }
        }
    }

    i {}

    i.notCopiedIcon,
    i.copiedIcon {
        display: inline-block;
        color: $color_gray_dark;
        cursor: pointer;

        &:hover {
            color: $color_centraBlue_hover;
        }
    }
}

.tableLoading {
    background-color: rgba($color: #FFFFFF, $alpha: 0.5);
    position: absolute;
    left: 0px;
    right: 18px;
    bottom: 0px;
    top: 68px;
    z-index: $layer_orderlist_loading;
    display: flex;
    align-items: center;
    justify-content: center;
}