@use "styles/theme" as *;

.sortIcon {
    cursor: pointer;
    padding: 5px;
    
    transition: background-color 0.3s;
    border-left: 1px solid #FFFFFF55;
    border-right: 1px solid #FFFFFF55;
    // background-color: $color_background_lightBlue;
    &:hover {
        transition: background-color 0.3s;
        background-color: $color_background_lightBlue;
        i.iconBehind {
            color: $color_orange;
        }
    }

    .iconActive {
        color: $color_orange;
    }
}