@use "styles/theme" as *;

.thead {
    top: 48px;
}

.subTitle {
    background-color: $color_white;
    top: -1px;
    position: sticky;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.itemTableBorder {
    border-top: none;
    border-collapse: separate;
    border-spacing: 0;

    tbody td {
        border-right: 1px solid $color_border_table;
        border-bottom: 1px solid $color_border_table;
    }
    tbody td:last-child {
        border-right:none;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }
}