@use "styles/theme" as *;

.root {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .topBar {
        height: 52px;
        border-bottom: 1px solid $color_gray;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 10px;
        justify-content: space-between;
        // background-color: $color_background;
        .manufacturingFacilityContainer {
            display: flex;
        }
    }
    .detail {
        flex-grow: 1;
        overflow: auto;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .buttonContainer {

    }
}

.searchPanelContainer {
    .searchPanel {
        padding: 30px;
        background-color: $color_background_lightBlue;
    }
}
