/* @tailwind base; */

/* @tailwind components; */
:root {
  --default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --centraBlue: #005db9;
  --centraDark: #3b444b;
  --bs-primary-rgb: 0, 93, 185;
}

@tailwind utilities;

* {
    border-width: 0;
    border-style: solid;
  }

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: unset
  }
}

@media (max-width: 1025px) {
  .desktop {
    display: none;
  }
  .mobileTable thead {
    display: none;
  }
  .mobileTable td {
    display: flex;
  }
  
  .mobileTable.hasLabel td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
}

.table>:not(caption)>*>* {
  background-color: transparent;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--default-font),
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

html {
  font-size: 90%; /* Makes it 10% smaller than the browser default, which is usually 16px */
}

button {
  border-radius: 2px;
  border: 1px solid #DDD;
  padding: 0px 5px;
  font-size: 90%;
}
button:hover {
  background-color: aliceblue;
}

:root {
  --bs-primary: #005db9; /* Replace with your new primary color */
  --bs-pagination-active-bg: #005db9;
}

.btn-primary:hover {
  background-color: #1b7ada !important; /* Darker shade for hover effect */
  border-color: #1b7ada !important;
}

.active>.page-link {
  background-color: #005db9 !important;
}
.form-check-input {
  border-color: #bbb;
  &:not(:disabled):hover {
    background-color: #f3f9ff;
    border-color: #005db9;
  }

  &:disabled {
    background-color: #e0e0e0;
  }
}
.form-check-input:checked {
  background-color: #005db9;
  border-color: #005db9;
}


/* antd style overrides */
.ant-table table {
  font-size: 0.8rem;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  color: var(--centraDark);
  padding: 0px;
}

.ant-table-cell {
  vertical-align: top !important;
}

.ant-btn-link {
  color: var(--centraBlue) !important;
}

/* .ant-table-thead .ant-table-cell.ant-table-row-expand-icon-cell {
  width: 120px !important;
  display: flex;
} */

/* .ant-table-thead .ant-table-cell.ant-table-row-expand-icon-cell::after {
  content: "PM Notes";
  text-align: center;
} */

.ant-divider-horizontal {
  margin: 15px 0px !important;
}

/* .ant-table-wrapper {
  height: 100%;
  overflow: hidden;

  .ant-spin-nested-loading {
    height: 100%;

    .ant-spin-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .ant-table {
        height: 100%;
        overflow: auto;
      }
    }
  }
} */

.ant-list-vertical .ant-list-item .ant-list-item-meta {
  margin-block-end: 0 !important;
}

/* Change scrollbar thickness */
::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

/* Change scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #BBBBBB80; /* Color */
  border-radius: 4px; /* Rounded corners */
}

/* Change scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}