@forward "styles/mixins"; 

$color_centraYellow: #f2ff56;
$color_centraBlue: #005db9;
$color_centraBlue_hover: #0273e2;

$color_white: #FFFFFF;
$color_gray: #F0F0F0;
$color_gray_dark: #B0B0B0;
$color_gray_light: #FFFFFF60;
$color_dark: #444444;
$color_red: #FF6347;
$color_orange: #ff9900;
$color_background: #f0f3f7;
$color_background_yellow: #fffff3;
$color_background_grayYellow: #eeeee5;

$color_active: #fcffe8;

// color for status
$color_ready_to_ship: #fffdda;
$color_ready_shipped: #ffd089;
$color_ready_on_hold: #f1b0a4;


$font_cardTitle: 24px;
$font_tip: 14px;

$layer_sidemenu: 10000;
$layer_sidemenu_overlay:9999;