@forward "styles/mixins"; 
$primary: #005db9;
$color_centraYellow: #f2ff56;
$color_centraBlue: #005db9;
$color_centraBlue_hover: #0273e2;
$color_centraBlack: #3b444b;

$color_white: #FFFFFF;
$color_gray: #DDD;
$color_gray_dark: #B0B0B0;
$color_gray_light: #FFFFFF60;
$color_dark: #444444;
$color_red: #FF6347;
$color_orange: #ff9900;
$color_background: rgb(235, 239, 243);
$color_background_yellow: rgb(252, 248, 227);
$color_background_grayYellow: #eeeee5;
$color_background_lightBlue: #ebeff3;
$color_background_tableHeader: #fafafa;
$color_background_edited: #6c5cff;
$color_background_error: #ffdce1;

$color_active: #dbeafe;
$color_border_table: #BBB;
$color_background_addonsync: #d2e1c4;
$color_addonsync: #688546;
$color_background_modal: #F4F4F4;

// color for status
$color_ready_to_ship: #fffdda;
$color_ready_shipped: #ffd089;
$color_ready_on_hold: #f1b0a4;

$color_addon_unlink: #b97a6f;

$font_cardTitle: 24px;
$font_tip: 14px;
$font_main: 1rem;


$layer_sideToggleIcon: 998;
$layer_sidemenu: 10000;
$layer_sidemenu_overlay:9999;

$layer_orderlist_loading: 20;

$layer_item_image_preview_zoomin: 1080;